test/fixtures/rawdata/review_data_complete.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="default">
    <xsd:element name="products">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="product" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="product" type="ProductType" />

    <xsd:complexType name="ProductType" abstract="true">
        <xsd:sequence>
            <xsd:element name="pageid" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="locale" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="ProductWithReviewsAndQuestions">
        <xsd:complexContent>
            <xsd:extension base="ProductType">
                <xsd:sequence>
                    <xsd:element name="smallstarimagelocation" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="largestarimagelocation" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="newestreviewdate" type="xsd:date" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="oldestreviewdate" type="xsd:date" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="averageoverallrating" type="xsd:float"  minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="average_rating_decimal" type="xsd:float"  minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="fullreviews" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="confirmstatusgroup" type="ConfirmStatusGroupType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="taggroup" type="TagGroupType" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="bottom_line_yes_votes" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="bottom_line_no_votes" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="customerimages" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="customervideos" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="total_questions" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="total_answers" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="inlinefiles" type="InlineFilesType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="inlinequestionfiles" type="InlineQuestionFilesType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="deleted_reviews" type="DeletedReviewsType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="reviews" type="ReviewListType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="questions" type="QuestionsType" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ProductWithReviews">
        <xsd:complexContent>
            <xsd:extension base="ProductType">
                <xsd:sequence>
                    <xsd:element name="smallstarimagelocation" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="largestarimagelocation" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="newestreviewdate" type="xsd:date" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="oldestreviewdate" type="xsd:date" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="averageoverallrating" type="xsd:float"  minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="average_rating_decimal" type="xsd:float"  minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="fullreviews" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="confirmstatusgroup" type="ConfirmStatusGroupType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="taggroup" type="TagGroupType" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="bottom_line_yes_votes" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="bottom_line_no_votes" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="customerimages" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="customervideos" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="inlinefiles" type="InlineFilesType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="deleted_reviews" type="DeletedReviewsType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="reviews" type="ReviewListType" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ProductWithQuestions">
        <xsd:complexContent>
            <xsd:extension base="ProductType">
                <xsd:sequence>
                    <xsd:element name="total_questions" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="total_answers" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="inlinequestionfiles" type="InlineQuestionFilesType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="deleted_reviews" type="DeletedReviewsType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="questions" type="QuestionsType" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="ReviewStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Approved"/>
            <xsd:enumeration value="Rejected"/>
            <xsd:enumeration value="Pending"/>
            <xsd:enumeration value="Escalate"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ConfirmStatusGroupType">
        <xsd:sequence>
            <xsd:element ref="confirmstatus" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="confirmstatus" type="ConfirmStatusType" />

    <xsd:simpleType name="ConfirmStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Verified Reviewer"/>
            <xsd:enumeration value="Verified Purchaser"/>
            <xsd:enumeration value="Unverified"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="tag" type="TagType" />

    <xsd:complexType name="TagType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="isuseradded" type="xsd:boolean" use="required"/>
                <xsd:attribute name="count" type="xsd:integer" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="TagListType">
        <xsd:sequence>
            <xsd:element ref="tag" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TagGroupType">
        <xsd:sequence>
            <xsd:element name="tag" type="TagType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="key" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="ReviewListType">
        <xsd:sequence>
            <xsd:element name="fullreview" type="FullReviewType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FullReviewType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="merchant_review_id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="merchantuserid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="status" type="ReviewStatusType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="createddate" type="xsd:date" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="helpfulvotes" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="nothelpfulvotes" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="source" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="confirmstatusgroup" type="ConfirmStatusGroupType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="headline" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="overallrating" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="taggroup" type="TagGroupType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="textboxgroup" type="TextboxGroupType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="bottom_line" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="comments" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="nickname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="location" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="customerimage" type="ReviewImageType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="customervideo" type="ReviewVideoType" minOccurs="0" maxOccurs="2" />
            <xsd:element name="email_address_from_merchant" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="email_address_from_user" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="campaign_id" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="service_comments" type="ServiceCommentsType" minOccurs="0" maxOccurs="1" />
            <xsd:element name="merchant_response" type="MerchantResponseType" minOccurs="0" maxOccurs="1" />
            <xsd:element name="associated_product_list" type="AssociatedProductListType" minOccurs="0" maxOccurs="1" />
            <xsd:element name="page_id_variant" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="extra_info_list" type="ExtraInfoListType" minOccurs="0" maxOccurs="1" />
            <xsd:element name="questionGroups" type="QuestionGroupsType" minOccurs="0" maxOccurs="1" />
            <xsd:element name="site_id" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="modified_date" type="xsd:date" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReviewImageType">
        <xsd:sequence>
            <xsd:element name="fullimagelocation" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="thumbnailimagelocation" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="caption" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="taggroup" type="TagGroupType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReviewVideoType">
        <xsd:sequence>
            <xsd:element name="videolocation" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="thumbnaillocation" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="caption" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="taggroup" type="TagGroupType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ServiceCommentsType">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:string" />
            <xsd:element name="comments" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MerchantResponseType">
        <xsd:sequence>
            <xsd:element name="response" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AssociatedProductListType">
        <xsd:sequence>
            <xsd:element name="associated_product" type="AssociatedProductType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AssociatedProductType">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string" />
            <xsd:element name="product_name" type="xsd:string" />
            <xsd:element name="product_url" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExtraInfoListType">
        <xsd:sequence>
            <xsd:element name="extra_info" type="ExtraInfoType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExtraInfoType">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string" />
            <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TextboxGroupType">
        <xsd:sequence>
            <xsd:element name="textbox" type="TextboxType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TextboxType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string" >
                <xsd:attribute name="name" type="xsd:string" />
                <xsd:attribute name="key" type="xsd:string" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="InlineFilesType">
        <xsd:sequence>
            <xsd:element name="inlinefile" type="InlineFileType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InlineFileType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string" >
                <xsd:attribute name="reviewpage" type="xsd:integer" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="InlineQuestionFilesType">
        <xsd:sequence>
            <xsd:element name="inlinefile" type="InlineQuestionFileType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InlineQuestionFileType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string" >
                <xsd:attribute name="questionpage" type="xsd:integer" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="QuestionGroupsType">
        <xsd:sequence>
            <xsd:element name="questionGroup" type="QuestionGroupType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QuestionGroupType">
        <xsd:choice minOccurs="1" maxOccurs="unbounded" >
            <xsd:element name="taggroup" type="TagGroupType"/>
            <xsd:element name="textbox" type="TextboxType"/>
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="DeletedReviewsType">
        <xsd:sequence>
            <xsd:element name="deleted_review" type="DeletedReviewType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DeletedReviewType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="merchant_review_id" type="xsd:long" />
            <xsd:element name="deleted_date" type="xsd:date" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QuestionsType">
        <xsd:sequence>
            <xsd:element name="question" type="QuestionType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QuestionType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="date" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="nickname" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="location" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="text" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="answers" type="AnswersType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AnswersType">
        <xsd:sequence>
            <xsd:element name="answer" type="AnswerType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AnswerType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="date" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="authored_by_expert" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="authored_by_verified_purchaser" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="nickname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="location" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="text" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>